{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "simple-import-sort",
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "react/prop-types": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Packages. `react` related packages come first.
          [
            "^react",
            "^@?\\w",
            "^@|components|contexts|hooks|store|helpers|utils",
            "^\\u0000",
            "^[^.]",
            "^\\."
          ],
          // Style imports.
          ["^.+\\.s?css$"]
        ]
      }
    ]
  }
}
